$mainfont: Montserrat; 

$header-background: white;

$text-color: #5C6A79;
$text-color-bold: #1C2A39;

$btn-color: #4C3DB2;
$btn-border: 1px solid #4C3DB2;
$btn-width: 176px;
$btn-height: 45px;